@import 'prism.css';
@import 'prism-line-numbers.css';

@import 'post';
@import 'sidebar';
@import 'nav';
@import 'footer';
@import 'search';

@media (min-width: 1600px) {
  .main {
    width: 80%;
  }
}

span[lang='ja'] {
  font-family: 'Lucida', 'Meiryo', sans-serif;
}

code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}

kbd {
  font-size: 90%;
  color: $blue;
  background-color: #f4f2f9;
}

