$blue         = #0066cc

$text-color   = #1d1d1f

$sidebar-nav-hover-color          = $blue
$sidebar-highlight                = $blue
$toc-link-active-color                = $sidebar-highlight
$toc-link-active-border-color         = $sidebar-highlight
$toc-link-active-current-color        = $sidebar-highlight
$toc-link-active-current-border-color = $sidebar-highlight

$link-color-article                   = $blue
$link-hover-color-article             = darken($link-color-article, 20%)
$link-decoration-color-article        = transparent
$link-decoration-hover-color-article  = $link-hover-color-article

$body-bg-color = white
